doctype html
head
    meta(charset='UTF-8')
    title A/C Remote Control
#message
        h1 Hello World
        h3 pug's in the house

        form(method='post')
            button(formaction='/',formmethod='post',name='powerOn',type='submit',value='2172573225') powerOn
