doctype html
head
    meta(charset='UTF-8')
    title A/C Remote Control
#message
        h1 Hello World
        h3 pug's in the house

        form(method='post')
            button(formaction='/poweron',formmethod='post',name='powerOn',type='submit',value='2172573225') Power On
            button(formaction='/arrowup',formmethod='post',name='arrowUp',type='submit',value='1111111111') Arrow Up
            <!--button(name='powerOn',type='submit',value='2172573225') powerOn-->
            <!--button(name='arrowUp',type='submit',value='1111111111') Arrow Up-->
