doctype html
head
    meta(charset='UTF-8')
    title A/C Remote Control
#message
h1 P5 405 A/C Remote Control
h3 Control A/C from everywhere, anywhere*
form(method='post')
    button(formaction='/poweron', formmethod='post', name='powerOn', type='submit', value='2172573225') Power On
    button(formaction='/arrowup', formmethod='post', name='arrowUp', type='submit', value='2172560985') Arrow Up
    button(formaction='/arrowdown', formmethod='post', name='arrowDown', type='submit', value='2172524265') Arrow Down
    button(formaction='/fan', formmethod='post', name='fan', type='submit', value='2172528345') Fan
    button(formaction='/nightmode', formmethod='post', name='nightMode', type='submit', value='2172524265') Night Mode
    button(formaction='/format', formmethod='post', name='format', type='submit', value='2172524265') Format
    button(formaction='/mode', formmethod='post', name='mode', type='submit', value='2172524265') Mode
    button(formaction='/angle', formmethod='post', name='angle', type='submit', value='2172524265') Angle
    button(formaction='/timer', formmethod='post', name='timer', type='submit', value='2172524265') Timer